*,
html,
body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #52b69a;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#appWrap {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #000;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
}

#nameWrap {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.name-box {
    background-color: #fff;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.name-box .placeholder {
    opacity: .4;
}

.swap-btn {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    margin: 20px;
}

.swap-btn:hover {
    background-color: #fff;
    color: #52b69a;;
}